{% extends "Advertisements/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Ad</legend>
                <h2>Are you sure you wanna get rid of this {{ object.title }} ?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'Advertisements-detail' object.id %}">No Shit!</a>
            </div>
        </form>
    </div>
{% endblock content %}